
digital_servo_python_gui/transfer_functions/08_07_2017_15_06_05_no_000.txt
digital_servo_python_gui/transfer_functions/08_07_2017_15_15_27_no_000.txt
digital_servo_python_gui/transfer_functions/08_07_2017_15_17_45_no_001.txt
digital_servo_python_gui/transfer_functions/08_07_2017_15_15_37_no_001.txt
digital_servo_python_gui/transfer_functions/08_07_2017_15_18_38_no_000.txt
digital_servo_python_gui/transfer_functions/08_07_2017_15_18_14_no_000.txt
digital_servo_python_gui/transfer_functions/08_07_2017_15_22_37_no_000.txt
Firmware Vivado Project/redpitaya.xpr
Firmware Vivado Project/redpitaya.cache/wt/project.wpc
Firmware Vivado Project/redpitaya.cache/wt/project.wpc
Firmware Vivado Project/redpitaya.xpr
digital_servo_python_gui/freq_out.bin
*.vdb
*.pb
*.bin
xvhdl.log
