/*.*
!/*.*/
redpitaya.cache/
redpitaya.hw/
redpitaya.ip_user_files/
redpitaya.runs/
redpitaya.sim/
redpitaya.srcs/sources_1/ip/**/*.*
!redpitaya.srcs/sources_1/ip/**/*.xci
!vivadoproj.xpr
!.gitignore
